:root {
	--Moderate-violet: hsl(263, 55%, 52%);
	--Very-dark-grayish-blue: hsl(217, 19%, 35%);
	--Very-dark-blackish-blue: hsl(219, 29%, 14%);
	--White-color: hsl(0, 0%, 100%);
	--Light-gray: hsl(0, 0%, 81%);
	--Light-grayish-blue: hsl(210, 46%, 95%);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Barlow Semi Condensed', sans-serif;
	Font-size: 13px;
	background-color: var(--Light-gray);
}


.container {
	padding: 0 20px;
	margin: 30px auto;
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

main .cards {
	display: grid;
	gap: 30px;
}

main .cards .one {
	grid-column: 1/4;
	background-color: var(--Moderate-violet);
	color: var(--White-color);
}

main .cards .two {
	grid-column: 4/5;
	background-color: var(--Very-dark-grayish-blue);
	color: var(--White-color);
}

main .cards .three {
	grid-column: 1;
	grid-row: 2;
	background-color: var(--White-color);
}

main .cards .four {
	grid-column: 2/5;
	grid-row: 2;
	background-color: var(--Very-dark-blackish-blue);
	color: var(--White-color);
}

main .cards .five {
	grid-column: 5/6;
	grid-row: 1/3;
	background-color: var(--White-color);
}

@media (max-width: 992px) {
	main .cards .one,
	main .cards .two,
	main .cards .three,
	main .cards .four,
	main .cards .five {
		grid-column: auto;
		grid-row: auto;
	}
}

main .cards .card {
	padding: 25px;
	box-shadow: 6px 6px 15px #999;
	border-radius: 10px;
	transition: 0.3s;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}

main .cards .card:hover {
	box-shadow: 6px 6px 20px #777;
}

.cards .card .head {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 20px;
}

main .cards .card.one i {
	font-weight: 900;
	font-size: 200px;
	position: absolute;
	right: 0;
	top: -50px;
	opacity: 0.2;
}

.cards .card .head img {
	margin-right: 15px;
	border: 2px solid var(--Light-grayish-blue);
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.cards .card .head .title h3 {
	margin-bottom: 5px;
}

.cards .card .head .title p {
	opacity: 0.5;
}

.cards .card .info p:first-of-type {
	margin: 20px 0;
	line-height: 1.5;
	font-size: 20px;
	font-weight: bold;
}

.cards .card .info p:last-of-type {
	line-height: 1.8;
	opacity: 0.7;
}

.attribution {
	font-size: 16px;
	text-align: center;
	margin-bottom: 15px;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}